@charset "UTF-8";

/* Estilo retrado */
@media screen and (orientation: portrait) {
    .main-container {
        width: 290px;
        height: 600px;        
        box-shadow: 0 0 12px 17px #b2fffa;
    }

    .title {
        margin: 20px 10px;
        line-height: 2rem;
    }

    .container-list .fa-solid {
        font-size: 20px;
    }

    .cadastro a {
        width: 240px;
    }

    .main-container input {
        margin: 0 auto;
        padding: 5px;
        font-size: 14px;
        width: 240px;
        height: 30px;
        border-radius: 5px;
        margin-bottom: 15px;
        outline-color: #c1a104;
        border: none;
    }

    ::placeholder {
        font-weight: 600;
    }

    li .logar {
        margin-top: 20px;
        font-weight: 500;
    }

    .login p {
        font-weight: 600;
    }

    .login a {
        font-weight: 600;
        transition: all ease 0.8s;
    }

    .login a:hover {
        color: #10e210;
    }

    li .logar {
        font-weight: 600;
    }

    .cadastro {
        margin-top: 40px;
    }

    .cadastro p {
        font-weight: 600;
    }

    .cadastro a {
        font-weight: 600;
    }

    .container-footer {
        display: flex;
        justify-content: center;
        margin-top: 60px;
        padding: 10px;
    }

    .container-footer i {
        padding: 0 10px 0 10px;
        font-size: 20px;
        color: #fff;
        transition: all ease 0.8s;
    }

    .container-footer i:hover {
        color: #707070;
    }

    .direitos-autorais {
        display: flex;
        justify-content: center;
        font-size: 13px;
        font-weight: 900;
        color: #fff;
    }
}